<%- include("index.ejs") %>

<body>
    <form action="/testing" enctype="multipart/form-data" method="post">
        <input type="file" name="image">
        <button>Submit</button>
    </form>
    <h2>testing page!</h2>
</body>